@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    scroll-behavior: smooth !important;
    overflow-x: hidden;
  }
  .video_container {
    position: absolute;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
  }

  /* media query if less that 540 */
  /* @media (max-width: 540px) {
    .video_container {
      height: 50vh;
    }
    .video_container__video {
      min-height: 50vh;
    }
  } */
  .video_container__video {
    position: absolute;

    margin: auto;
    top: -100%;
    bottom: -100%;
    left: -100%;
    right: -100%;

    min-width: 100vw;
    min-height: 100vh;
    max-width: none;
  }

  .quote__outline {
    /* border is a gradient */
    border: 16px solid transparent;
    border-image: linear-gradient(to bottom, #9333ea, #34d399) 1;
  }

  .banner_slanted {
    transform: rotate(-2deg) translateZ(0) translateY(-60px) scale(1.1);
  }

  .abstract_background {
    background-image: url("/abstract.svg");
    background-repeat: no-repeat;
    background-size: fill;
    background-position: center;
  }
  /* Header on load anim */
  .navborder::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    width: 0;
    border-bottom: 1px solid rgba(95, 95, 95, 0.3);
    animation: border_animation 1s linear forwards;
  }

  @keyframes border_animation {
    0% {
      width: 0%;
    }
    100% {
      width: 100%;
    }
  }
}
